streamlit
pip==23.2.1
streamlit-elements==0.1.0
streamlit-extras==0.3.2
st-clickable-images==0.0.3
gcsfs==2023.9.1
google-cloud-translate==3.11.2
st-annotated-text==4.0.1
st-pages==0.4.4
pinecone-client==2.2.2
numpy
pandas
tqdm
pyparsing
openai
